[submodule "thirdparty/simpleini"]
	path = thirdparty/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/glog"]
	path = thirdparty/glog
	url = https://github.com/google/glog.git
[submodule "thirdparty/sqlite3"]
	path = thirdparty/sqlite3
	url = https://github.com/LuaDist/libsqlite3.git
[submodule "thirdparty/sfml"]
	path = thirdparty/sfml
	url = https://github.com/SFML/SFML.git
[submodule "thirdparty/gameGUI"]
	path = thirdparty/gameGUI
	url = https://github.com/mescourrou/GameGUI.git
[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = https://github.com/gflags/gflags.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
